<%= form_with(model: teat, local: true) do |form| %>
  <% if teat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teat.errors.count, "error") %> prohibited this teat from being saved:</h2>

      <ul>
      <% teat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :teat %>
    <%= form.text_area :teat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
